
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{

background:
linear-gradient(135deg,#02060d,#06111f,#02060d);

color:#fff;

overflow-x:hidden;

min-height:100vh;

}

canvas{

position:fixed;

left:0;

top:0;

width:100%;

height:100%;

z-index:-5;

}

header{

position:fixed;

left:0;

top:0;

width:100%;

height:82px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 45px;

background:rgba(0,0,0,.45);

backdrop-filter:blur(18px);

border-bottom:1px solid rgba(0,191,255,.25);

z-index:999;

}

.logo{

font-size:38px;

font-weight:800;

color:#00bfff;

text-shadow:0 0 20px #00bfff;

transition:.30s;

cursor:pointer;

}

.logo:hover{

transform:scale(1.08);

text-shadow:0 0 40px #00bfff;

}

.right{

display:flex;

gap:15px;

align-items:center;

}

button{

background:rgba(15,22,38,.75);

border:1px solid #00bfff;

color:#fff;

padding:15px 28px;

border-radius:18px;

cursor:pointer;

font-size:17px;

transition:.30s;

}

button:hover{

background:#00bfff;

color:#000;

transform:translateY(-3px);

box-shadow:0 0 35px #00bfff;

}

.sidebar{

position:fixed;

top:170px;

left:35px;

display:flex;

flex-direction:column;

gap:18px;

z-index:200;

}

.sidebar button{

width:230px;

height:64px;

font-size:20px;

border-radius:18px;

}

main{

margin-left:315px;

padding-top:140px;

padding-right:55px;

padding-bottom:80px;

}

.hero{

animation:fadeUp .8s;

}

.hero h1{

font-size:78px;

font-weight:800;

color:#00c8ff;

text-shadow:0 0 25px #00c8ff;

transition:.3s;

}

.hero h1:hover{

transform:scale(1.03);

}

.hero p{

margin-top:25px;

font-size:27px;

line-height:45px;

max-width:900px;

color:#d7e8ff;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:28px;

margin-top:70px;

}

.card{

background:rgba(18,28,45,.55);

backdrop-filter:blur(18px);

border:1px solid rgba(0,191,255,.22);

padding:35px;

border-radius:24px;

transition:.35s;

}

.card:hover{

transform:translateY(-8px) scale(1.02);

box-shadow:0 0 35px rgba(0,191,255,.45);

}

.card h2{

font-size:30px;

margin-bottom:18px;

color:#00bfff;

}

.card p{

font-size:19px;

line-height:34px;

color:#dbeaff;

}

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(35px);

}

to{

opacity:1;

transform:translateY(0);

}

}





.chat-icon{

position:fixed;

right:35px;

bottom:35px;

width:78px;

height:78px;

border-radius:50%;

background:#00bfff;

display:flex;

align-items:center;

justify-content:center;

font-size:34px;

cursor:pointer;

box-shadow:0 0 35px #00bfff;

transition:.30s;

z-index:999;

}

.chat-icon:hover{

transform:scale(1.12);

}

.chat{

position:fixed;

right:35px;

bottom:130px;

width:420px;

height:620px;

display:none;

flex-direction:column;

background:rgba(8,18,30,.97);

border:1px solid rgba(0,191,255,.45);

backdrop-filter:blur(20px);

border-radius:24px;

overflow:hidden;

box-shadow:0 0 40px rgba(0,191,255,.35);

z-index:999;

}

.chat-header{

background:#00bfff;

padding:18px;

font-size:22px;

font-weight:700;

color:#000;

text-align:center;

}

.chat-messages{

flex:1;

padding:18px;

overflow-y:auto;

}

.msg-ai{

background:#18283d;

padding:14px 18px;

border-radius:16px;

margin-bottom:12px;

max-width:85%;

font-size:16px;

line-height:28px;

}

.msg-user{

background:#00bfff;

color:#000;

padding:14px 18px;

border-radius:16px;

margin-bottom:12px;

margin-left:auto;

max-width:85%;

font-weight:600;

}

.chat-input{

display:flex;

padding:12px;

gap:10px;

background:#08131f;

}

.chat-input input{

flex:1;

background:#111d2f;

border:none;

outline:none;

padding:16px;

border-radius:14px;

color:#fff;

font-size:16px;

}

.chat-input button{

padding:15px 20px;

}



.login-screen{

position:fixed;

left:0;

top:0;

width:100%;

height:100%;

display:none;

align-items:center;

justify-content:center;

background:rgba(0,0,0,.82);

backdrop-filter:blur(12px);

z-index:9999;

}

.login-box{

width:500px;

background:rgba(15,25,45,.94);

padding:40px;

border-radius:25px;

border:1px solid rgba(0,191,255,.35);

box-shadow:0 0 45px rgba(0,191,255,.35);

}

.login-box h1{

text-align:center;

margin-bottom:25px;

font-size:40px;

color:#00bfff;

}

.login-box input{

width:100%;

height:58px;

margin-top:16px;

background:#101b2d;

border:none;

border-radius:14px;

padding-left:18px;

color:white;

font-size:17px;

}

.login-box input:focus{

outline:1px solid #00bfff;

box-shadow:0 0 18px rgba(0,191,255,.35);

}

.login-box button{

width:100%;

margin-top:20px;

height:58px;

}



.user-menu{

display:none;

position:fixed;

top:90px;

right:35px;

width:220px;

padding:15px;

background:#101b2d;

border:1px solid rgba(0,191,255,.35);

border-radius:18px;

box-shadow:0 0 30px rgba(0,191,255,.35);

z-index:9999;

}

.user-menu button{

width:100%;

margin-top:10px;

}


#martyrs .card{

overflow:hidden;

}

#martyrs img{

width:100%;

border-radius:18px;

margin-bottom:20px;

transition:.4s;

}

#martyrs img:hover{

transform:scale(1.05);

filter:brightness(1.1);

}

#martyrs h2{

font-size:30px;

margin-bottom:15px;

color:#00bfff;

}

#martyrs p{

font-size:18px;

line-height:34px;

}



.footer{

margin-top:120px;

padding:60px;

text-align:center;

border-top:1px solid rgba(255,255,255,.08);

background:rgba(0,0,0,.25);

backdrop-filter:blur(15px);

}

.footer h2{

font-size:36px;

color:#00bfff;

margin-bottom:20px;

}

.footer p{

margin-top:10px;

font-size:18px;

color:#b9d8f5;

}

.footer hr{

margin:30px auto;

width:70%;

border:1px solid rgba(255,255,255,.08);

}



::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-thumb{

background:#00bfff;

border-radius:30px;

}

::-webkit-scrollbar-track{

background:#08131d;

}



button,
.card,
.logo,
.sidebar button,
.hero h1,
.hero p{

transition:.30s;

}

button:hover{

letter-spacing:1px;

}

.card:hover h2{

color:#4fd6ff;

}

.hero p:hover{

color:white;

}



body::before{

content:"";

position:fixed;

left:-250px;

top:-250px;

width:500px;

height:500px;

background:#00bfff;

filter:blur(180px);

opacity:.12;

pointer-events:none;

animation:glow1 8s linear infinite;

}

body::after{

content:"";

position:fixed;

right:-250px;

bottom:-250px;

width:500px;

height:500px;

background:#0099ff;

filter:blur(180px);

opacity:.12;

pointer-events:none;

animation:glow2 10s linear infinite;

}

@keyframes glow1{

50%{

transform:translate(120px,90px);

}

}

@keyframes glow2{

50%{

transform:translate(-150px,-120px);

}

}



@media(max-width:1100px){

main{

margin-left:0;

padding:120px 20px;

}

.sidebar{

position:relative;

top:100px;

left:0;

width:100%;

flex-direction:row;

justify-content:center;

flex-wrap:wrap;

margin-bottom:40px;

}

.sidebar button{

width:180px;

}

.hero h1{

font-size:52px;

}

.hero p{

font-size:22px;

line-height:36px;

}

.chat{

width:95%;

right:2.5%;

height:520px;

}

}

@media(max-width:700px){

header{

padding:0 20px;

}

.logo{

font-size:28px;

}

.right{

gap:8px;

}

button{

padding:12px 18px;

font-size:15px;

}

.hero h1{

font-size:38px;

}

.hero p{

font-size:18px;

line-height:30px;

}

.cards{

grid-template-columns:1fr;

}

.login-box{

width:95%;

padding:30px;

}

.chat{

height:500px;

}

.chat-icon{

width:65px;

height:65px;

font-size:28px;

}

}



input,
textarea{

transition:.30s;

}

input:hover,
textarea:hover{

border-color:#00bfff;

box-shadow:0 0 18px rgba(0,191,255,.25);

}

input:focus,
textarea:focus{

outline:none;

box-shadow:
0 0 8px #00bfff,
0 0 20px rgba(0,191,255,.35);

}



button{

position:relative;

overflow:hidden;

}

button::before{

content:"";

position:absolute;

left:-120%;

top:0;

width:80px;

height:100%;

background:rgba(255,255,255,.35);

transform:skewX(-25deg);

transition:.7s;

}

button:hover::before{

left:140%;

}



.card{

position:relative;

overflow:hidden;

}

.card::after{

content:"";

position:absolute;

left:-150%;

top:0;

width:120px;

height:100%;

background:linear-gradient(

90deg,

transparent,

rgba(255,255,255,.15),

transparent

);

transform:skewX(-25deg);

transition:1s;

}

.card:hover::after{

left:180%;

}



.logo{

letter-spacing:2px;

}

.logo::after{

content:"";

display:block;

width:0;

height:2px;

background:#00bfff;

transition:.35s;

margin:auto;

}

.logo:hover::after{

width:100%;

}



.chat-messages::-webkit-scrollbar{

width:8px;

}

.chat-messages::-webkit-scrollbar-thumb{

background:#00bfff;

border-radius:30px;

}



.msg-ai{

animation:aiFade .35s;

}

.msg-user{

animation:userFade .35s;

}

@keyframes aiFade{

from{

opacity:0;

transform:translateX(-25px);

}

to{

opacity:1;

transform:translateX(0);

}

}

@keyframes userFade{

from{

opacity:0;

transform:translateX(25px);

}

to{

opacity:1;

transform:translateX(0);

}

}



header{

box-shadow:

0 10px 30px rgba(0,0,0,.35);

}



.sidebar button{

font-weight:600;

letter-spacing:.4px;

}

.sidebar button:hover{

padding-left:28px;

}



.card h2{

display:flex;

align-items:center;

gap:10px;

}



::selection{

background:#00bfff;

color:black;

}



a{

color:#00bfff;

text-decoration:none;

transition:.3s;

}

a:hover{

color:white;

}



img{

user-select:none;

-webkit-user-drag:none;

border-radius:18px;

}


html{

scroll-padding-top:90px;

}



.loader{

position:fixed;

left:0;

top:0;

width:100%;

height:100%;

background:#02060d;

display:flex;

justify-content:center;

align-items:center;

z-index:999999;

transition:.5s;

}

.loader.hidden{

opacity:0;

visibility:hidden;

}

.loader-circle{

width:90px;

height:90px;

border:6px solid rgba(255,255,255,.15);

border-top:6px solid #00bfff;

border-radius:50%;

animation:spin 1s linear infinite;

}

@keyframes spin{

100%{

transform:rotate(360deg);

}

}



body{

animation:pageOpen .7s ease;

}

@keyframes pageOpen{

from{

opacity:0;

transform:scale(.98);

}

to{

opacity:1;

transform:scale(1);

}

}



.card{

animation:floatCard 6s ease-in-out infinite;

}

.card:nth-child(2){

animation-delay:.5s;

}

.card:nth-child(3){

animation-delay:1s;

}

.card:nth-child(4){

animation-delay:1.5s;

}

.card:nth-child(5){

animation-delay:2s;

}

.card:nth-child(6){

animation-delay:2.5s;

}

@keyframes floatCard{

50%{

transform:translateY(-6px);

}

}

.hero h1{

animation:neon 3s infinite alternate;

}

@keyframes neon{

from{

text-shadow:

0 0 15px #00bfff,

0 0 25px #00bfff;

}

to{

text-shadow:

0 0 30px #00bfff,

0 0 60px #00bfff,

0 0 90px #00bfff;

}

}



.card,

.login-box,

.chat,

header{

backdrop-filter:blur(22px);

-webkit-backdrop-filter:blur(22px);

}



canvas{

will-change:transform;

}

button{

will-change:transform;

}

.card{

will-change:transform;

}



.card{

box-shadow:

0 8px 25px rgba(0,0,0,.25);

}

.card:hover{

box-shadow:

0 0 45px rgba(0,191,255,.45);

}



.chat-input input::placeholder{

color:#8aa9c8;

}



.login-box{

animation:popup .35s;

}

@keyframes popup{

from{

opacity:0;

transform:scale(.9);

}

to{

opacity:1;

transform:scale(1);

}

}



.footer{

background:

linear-gradient(

180deg,

rgba(0,0,0,0),

rgba(0,0,0,.35)

);

}

/* TEXT */

h1,h2,h3{

user-select:none;

}

.logo{

user-select:none;

}

 

.hero::before{

content:"";

position:absolute;

width:300px;

height:300px;

background:#00bfff;

filter:blur(150px);

opacity:.08;

border-radius:50%;

left:-100px;

top:-80px;

pointer-events:none;

}



body::selection{

background:#00bfff;

color:#000;

}

.martyr-box{

position:relative;

margin-top:60px;

max-width:750px;

}



.martyr-img{

width:100%;

border-radius:22px;

border:1px solid #00bfff;

box-shadow:

0 0 40px rgba(0,191,255,.45);

transition:.4s;

}



.martyr-img:hover{

transform:scale(1.03);

filter:brightness(1.15);

}







.blue-line{

height:8px;

margin-top:15px;

border-radius:20px;


background:

linear-gradient(

90deg,

#000,

#00bfff,

#000

);


box-shadow:

0 0 20px #00bfff;


}






.martyr-arrow{


position:absolute;


right:-50px;


top:35px;


width:70px;


height:70px;


border-radius:50%;


font-size:35px;


padding:0;


display:flex;


align-items:center;


justify-content:center;


animation:

arrowMove 1.5s infinite;


}





@keyframes arrowMove{


0%{

transform:translateX(0);

}


50%{

transform:translateX(-18px);

}


100%{

transform:translateX(0);

}


}







.martyr-info{


position:fixed;


right:-500px;


top:130px;


width:430px;


height:520px;


padding:35px;


background:

linear-gradient(

145deg,

#071421,

#010101

);


border:

1px solid #00bfff;


border-radius:25px;


box-shadow:

0 0 45px rgba(0,191,255,.5);


z-index:99999;


transition:.5s;


}



.martyr-info.active{


right:40px;


}




.martyr-info h2{


color:#00bfff;


font-size:36px;


margin-bottom:20px;


}




.martyr-info p{


font-size:18px;


line-height:35px;


color:#dbeaff;


}




.martyr-info button{


margin-top:30px;


width:100%;


}








.login-box{


animation:

popup .35s ease;


}




.login-tabs{


display:flex;


gap:10px;


margin-bottom:10px;


}



.login-tabs button{


flex:1;


}






@media(max-width:700px){


.martyr-box{

width:100%;

}



.martyr-arrow{


right:10px;

}



.martyr-info{


width:90%;


right:-100%;


}



.martyr-info.active{


right:5%;


}



}